{% load static %}
{% if cow %}
<div id="editCowModal" class="cow-edit-modal">
    <div class="cow-edit-modal-content">
        <span class="close">&times;</span>
        <h2>Edit Cow</h2>
        <form method="post" action="{% url 'cow-update' pk=cow.id %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="edit_animal_id">Animal ID:</label>
                <input type="text" id="edit_animal_id" name="animal_id" readonly value="{{ cow.animal_id }}">
            </div>
            <div class="form-group">
                <label for="edit_birth_year">Birth Year:</label>
                <input type="number" id="edit_birth_year" name="birth_year" required>
            </div>
            <button type="submit">Update</button>
            <button id="edit-cow-modal-cancel-btn" type="button">Cancel</button>
        </form>
    </div>
</div>

{% endif %}
