{% load static %}
<div id="no-animal-modal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <p>There is no animal associated with this ID. To create a new one, provide the birth year (optional) and click the "Create" button.</p>
        <form id="create-animal-form" action="{% url 'cow-create' %}" method="post">
            {% csrf_token %}
            <label for="new_animal_id">Animal ID</label>
            <input type="text" id="new_animal_id" name="animal_id" value="{{ animal_id }}" readonly required>
            <label for="new_birth_year">Birth Year (optional)</label>
            <input type="text" id="new_birth_year" name="birth_year">
            <button id="create-animal-btn" type="submit">Create</button>
            <button id="cancel-create-btn" type="button">Cancel</button>
        </form>
    </div>
</div>

