{% load custom_filters %}
{% load static %}
<link rel="stylesheet"  type="text/css" href="{% static 'preg_check/css/styles.css' %}">

<script type="text/javascript">
	<!-- define vars to be used by external js files -->
    const pregcheckSummaryStatsUrl = "{% url 'pregcheck-summary-stats' %}";
    const animalExists = "{{ animal_exists }}";
</script>

<script type="text/javascript" src="{% static 'preg_check/js/script.js' %}"></script>

<div class="container">
    {% include 'preg_check/includes/stats_content.html' %}

  <div class="form-container">
    <form id="search-form" method="get" action="">
      {{ search_form.as_p }}
      <button type="submit">Search For Animal</button>
    </form>

    <div class="result-container">
     {% if multiple_matches %}
        <p>More than one animal is associated with this ID with birth years of
        {% for birth_year in distinct_birth_years %}
            {{ birth_year }}{% if not forloop.last %}, {% endif %}
        {% endfor %}.
        <br>Please provide the birth year to select the desired animal.
        </p>
      {% elif pregchecks %}
      <table>
         <thead>
            <tr>
              <th>Preg Status</th>
              <th>Check Date</th>
              <th>Breeding Season</th>
              {% if pregchecks|has_comments %}
                  <th>Comments</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for pregcheck in pregchecks %}
              <tr>
                {% if pregcheck.is_pregnant %}
                    <td>Pregnant</td>
                {% else %}
                    <td>Open</td>
                {% endif %}
                <td>{{ pregcheck.check_date }}</td>
                <td>{{ pregcheck.breeding_season }}</td>
                {% if pregcheck.comments %}
                    <td>{{ pregcheck.comments }}</td>
                {% endif %}
              </tr>
            {% endfor %}
          </tbody>
        </table>	
      {% else %}
        {% if search_form.is_bound %}
          <p>Animal ID not found</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
<div class="form-container">

<form id="pregcheck-form" method="post" action="{% url 'pregcheck-create' %}">
  {% csrf_token %}
  <label for="{{ pregcheck_form.pregcheck_animal_id.id_for_label }}">Animal ID</label>
  {{ pregcheck_form.pregcheck_animal_id }}
  <label for="{{ pregcheck_form.breeding_season.id_for_label }}">Breeding Season</label>
  {{ pregcheck_form.breeding_season }}
  <label for="{{ pregcheck_form.comments.id_for_label }}">Comments</label>
  {{ pregcheck_form.comments }}
  <label for="{{ pregcheck_form.is_pregnant.id_for_label }}">Status</label>
  {{ pregcheck_form.is_pregnant }}
  <div class="form-group">
      <label for="{{ pregcheck_form.recheck.id_for_label }}">Recheck</label>
      <div class="checkbox-input">
          {{ pregcheck_form.recheck }}
      </div>
  </div>
  <button id="submit-btn" type="submit" {% if pregcheck_form.fields.is_pregnant.widget.attrs.disabled %}disabled{% endif %}>
    Submit Preg Check
  </button>
</form>
</div>

<div id="message-modal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <div id="message-container"></div>
    <button id="continue-btn">Continue</button>
  </div>
</div>

{% include 'preg_check/includes/no_animal_modal.html' %}

